head
  title
    | crudastro
  link(rel='shortcut icon', href='/ico/favicon.png')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(http-equiv='Content-Language', content='pt_BR')
  meta(name='description', content='')
  meta(name='author', content='')

body

template(name="home")
  .well
    | home

template(name="crudastroLoading")
  .well
    | loading

template(name="crudastroNew")

  h1 {{collectionName}} new
  +crudastroForm

template(name="crudastroEdit")

  h1 edit {{collectionName}}
  if isLoading
    +crudastroLoading
  else
    +crudastroForm

template(name="crudastroForm")
  form
    each collectionDefinition.fields
      .form-group
        label(for='{{name}}') {{name}}
        input.form-control(id="{{name}}" type='{{type}}', placeholder='{{placeholder}}', value='{{fieldValue}}')
    hr
    input.btn.btn-primary(type="submit")

template(name="crudastroTable")

  h1 {{collectionName}}

  a.btn.btn-primary(href="/#{collectionName}/new")
    i.fa.fa-plus
    | New

  if isLoading
    +crudastroLoading
  else
    table.table.table-hover.table-zebra
      thead
        tr
          th _id
          each collectionDefinition.table
            th {{this}}
          th
      tbody
        each documents
          tr
            td
              a(href="/#{../collectionName}/#{_id}")
                | {{_id}}
            each ../collectionDefinition.table
              td
                | {{fieldValue}}
            td
              a.btn.btn-primary.btn-xs(href="/#{../collectionName}/#{_id}")
                | Edit
              button.btn.btn-danger.btn-xs.btn-remove(href="#")
                | Remove