head
  title
    | crudastro
  link(rel='shortcut icon', href='/ico/favicon.png')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(http-equiv='Content-Language', content='pt_BR')
  meta(name='description', content='')
  meta(name='author', content='')
  
  link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
  link(href='//cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.2/css/bootcards-desktop.min.css', rel='stylesheet')
  //link(href='//cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.1/css/bootcards-ios.min.css', rel='stylesheet')
  //link(href='//cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.1/css/bootcards-android.min.css', rel='stylesheet')
  link(href='//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')

  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.2/js/bootcards.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js')

body

template(name="home")
  .panel-body
    p
      | home

template(name="crudastroLoading")
  .panel-body
    p
      | loading...

template(name="crudastroNew")
  .row
    .col-sm-6.col-sm-offset-3
      .panel.panel-default
        .panel-heading.clearfix
          h3.panel-title.pull-left
            | {{collectionDefinition.name}} new
        +crudastroForm collectionDefinition=collectionDefinition
        .panel-footer.clearfix
          input.btn.btn-primary.btn-save.pull-right(type="submit" value="save")

template(name="crudastroEdit")
  .row
    .col-sm-6.col-sm-offset-3
      .panel.panel-default
        .panel-heading.clearfix
          h3.panel-title.pull-left
            | {{collectionDefinition.name}} edit
        if Template.subscriptionsReady
          +crudastroForm document=document collectionDefinition=collectionDefinition
        else
          +crudastroLoading
        .panel-footer.clearfix
          input.btn.btn-primary.btn-save.pull-right(type="submit" value="save")

template(name="crudastroForm")
  .modal-body
    form
      each collectionDefinition.fields
        +crudastroFormInput field=this document=../document

template(name="crudastroFormInput")
  .form-group
    label.control-label(for='{{field.name}}') {{field.name}}
    input.form-control(id="{{field.name}}" type='{{field.type}}', placeholder='{{field.placeholder}}', value='{{value}}')


template(name="crudastroTable")
  .panel.panel-default
    .panel-heading.clearfix
      h3.panel-title.pull-left
        | {{collectionDefinition.name}}
      .btn-group.pull-right
        a.btn.btn-primary(href="/{{collectionDefinition.name}}/new")
          i.fa.fa-plus
          span
            | new
    if Template.subscriptionsReady
      .table-responsive
        table.table.table-hover.table-zebra
          thead
            tr.active
              th _id
              each collectionDefinition.table
                +crudastroTableColumnHeader column=this
              th
          tbody
              each documents
                +crudastroTableRow document=this collectionDefinition=../collectionDefinition
    else
      .panel-body
        +crudastroLoading
    .panel-footer
      small
        | pagination

template(name="crudastroTableColumnHeader")
  th {{column}}
  
template(name="crudastroTableRow")
  tr
    td
      a(href="/{{collectionDefinition.name}}/{{document._id}}")
        | {{document._id}}
    each collectionDefinition.table
      +crudastroTableCell column=this document=../document
    td
      a.btn.btn-primary.btn-xs(href="/{{collectionDefinition.name}}/{{document._id}}")
        | Edit
      button.btn.btn-danger.btn-xs.btn-remove(href="#")
        | Remove

template(name="crudastroTableCell")
  td
    | {{value}}
